[submodule "gruvbox"]
	path = start/2-colors-gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "lightline.vim"]
	path = start/3-interface-lightline
	url = git@github.com:itchyny/lightline.vim
[submodule "goyo.vim"]
	path = start/3-interface-goyo
	url = git@github.com:junegunn/goyo.vim.git
[submodule "vim-tmux-navigator"]
	path = start/3-interface-vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "nerdtree"]
	path = start/3-interface-nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "fzf"]
	path = start/3-interface-fzf
	url = git@github.com:junegunn/fzf.git
[submodule "fzf.vim"]
	path = start/3-interface-fzf-vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vimux"]
	path = start/3-interface-vimux
	url = git@github.com:benmills/vimux.git
[submodule "vim-gradle"]
	path = start/6-languages-gradle
	url = git@github.com:tfnico/vim-gradle.git
[submodule "swift.vim"]
	path = start/6-languages-swift
	url = git@github.com:keith/swift.vim.git
[submodule "conflict-marker.vim"]
	path = start/5-editing-conflict-marker
	url = git@github.com:rhysd/conflict-marker.vim.git
[submodule "tabular"]
	path = start/5-editing-tabular
	url = git@github.com:godlygeek/tabular
[submodule "supertab"]
	path = start/4-autocomplete-supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim-markdown"]
	path = start/6-languages-markdown
	url = git@github.com:bouk/vim-markdown.git
[submodule "start/6-languages-kotlin"]
	path = start/6-languages-kotlin
	url = https://github.com/udalov/kotlin-vim.git
